__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# VSCode
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Local tests and documentation
tests/
docs/

# Local data files
new_grades.json
old_grades.json